<div class="reset-password-container">
    <div class="logo-container">
        <img src="/logo.webp" alt="Uniconnect logo" class="logo">
        <span class="logo-text">Uniconnect</span>
    </div>
    
    <h1 class="reset-title">Recuperar Contraseña</h1>
    
    <form class="reset-form" [formGroup]="form" (ngSubmit)="resetPassword()">
        <div class="form-group">
            <label for="email" class="form-label">Tu correo</label>
            <input 
                type="email"
                name="email" 
                id="email" 
                class="form-input" 
                placeholder="name@company.com"
                formControlName="email"
            >
            <small *ngIf="isRequired()" class="text-red-400">
                Este campo es requerido
            </small>
            <small *ngIf="hasEmailError()" class="text-red-400">
                El correo debe ser válido
            </small>
        </div>

        <button 
            type="submit" 
            class="reset-button"
            [disabled]="form.invalid"
        >
            Recuperar Contraseña
        </button>

        <p class="login-link">
            <a (click)="navigateToSignIn()">Volver a Iniciar Sesión</a>
        </p>
    </form>
</div>